@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@200;400;700&display=swap');

:root {
    --my-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    --color-bg: #FFF;
    --font-color: #323450;
    --primary-color: #0074d985;
    --color-my: #2F80ED;
}
body {
  background: #f0f0f0;
  font-family: 'Noto Sans Arabic', sans-serif;
  font-size: 16px;
}
/* start blog manage */
.block {
    padding: 10px;
    margin-top: 10px;
    background-color: #f0f0f0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
/* end blog manage */
/* start posts has blog */
.img-post-list {
  width: 70px;
  height: 70px;
  max-width: 70px;
  max-height: 70px;
}
/* end posts has blog */